{% extends 'rango/base.html' %}
{% load static %}
{% load rango_template_tags %}
{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}
{% block body_block %}
    {% if category %}
    <h1>{{ category.name }}</h1>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="/rango/category/{{ category.slug }}/add_page/">Add Page</a> <br />
    {% endif %}
    {% else %}
    {% for c in cat %}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <div id="main">
                <div id="left" style=" float:left;"><h2><a href="/rango/category/{{ c.slug }}/">{{ c.name }}</a></h2></div>
                <div id="right" style="height: 40px; ">
              <a style="float:left;" data-toggle="collapse" data-parent="#accordion" 
                 href="#{{ c.slug }}">
                 <img src="{% static 'images/button.jpg' %}" alt="button" width="40" height="40"/>
              </a>
            </div>
          </div>
            </h4>
          </div>
          <div id="{{ c.slug }}" class="panel-collapse collapse in">
            <div class="panel-body">
                {% get_page_list c page %}
        </div>
      </div>
    </div>
  </div>
</div>
    {% endfor %}
    {% endif %}
{% endblock %}
