{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block body_block %}
<!-- title part -->
<div class = "title">
    <img class="rango" src="{% static 'images/title-image.png' %}" alt="rango">
</div>
<!-- category button -->
<div class = "category">
    <a href="/rango/category/python"><button type="button" class="button btn btn-outline-dark btn-lg">Python</button></a>
    <a href="/rango/category/django"><button type="button" class="button btn btn-outline-dark btn-lg">Django</button></a>
    <button type="button" class="button btn btn-outline-dark btn-lg">Pascal</button>
    <button type="button" class="button btn btn-outline-dark btn-lg">Perl</button></br>
    <button type="button" class="button btn btn-outline-dark btn-lg">Java</button>
    <button type="button" class="button btn btn-outline-dark btn-lg">JavaScript</button>
    <button type="button" class="button btn btn-outline-dark btn-lg">Prolong</button>
    <button type="button" class="button btn btn-outline-dark btn-lg">PHP</button></br>
    <a class ="more" href="/rango/category/">see more >> </a>
    
</div>
<div>
    <h4>Most Liked Categories</h4>
    <hr>
{% if categories %}
    <ul>
    {% for category in categories %}
        <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no categories present.</strong>
{% endif %}
</div>

<div>
    <h4>Most Viewed Pages</h4>
    <hr>
{% if pages %}
    <ul>
    {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no pages present.</strong>
{% endif %}
</div>


{% endblock %}

 