{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block body_block %}
<div class="heading">
    <h1 class="search-heading">Search with Rango</h1>   
</div>
<div>
    {% if result_list %}
    <h2>Results</h2>

    <div class="list list-group">
    {% for result in result_list %}
        <div class="list-group-item">
            <h5 class="list-group-item-heading">
                <a href="{{ result.link }}">{{ result.title|safe|escape }}</a>
            </h5>
            <p class="list-group-item-text">
                {{ result.summary|safe|escape }}
            </p>
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
